@import '../../styles/normalize'
@import '../../styles/settings'

.mainPage
  background-color #80CBC4
.section
  min-height 100vh
  color #fff
  margin-left 95pt
.container
  center(95%)

#textfield
  width 100%

.logout
  position absolute
  top -10px
  right 0pt
  padding 10pt

.logout-button
  margin-left 10pt

.ContentContainer
  margin-left 95pt

.MenuLists
  color #ffffff
  width 200pt

.homecontainer

.ScoreTitle
  color #fff
  font-size 15pt
  font-weight bold
  margin-left 10px
  height 45pt

a
  color #fff
  text-decoration none

.menubar
  height 45pt
  margin-left 95pt
  position absolute
  right 30pt
  top 0pt
  width 220pt
  .SearchBar
    display inline-block
    color #777
    font-size 15pt
    margin 5pt 25pt
