@import '../../styles/settings'


.todo-wrapper
  padding 10px 30px

#textfield
  width 100%

.logout
  position absolute
  top -10px
  right 0pt
  padding 10pt

.logout-button
  margin-left 10pt

.ContentContainer
  margin-left 0pt

.MenuLists
  color #ffffff
  width 200pt

.homecontainer

.ScoreTitle
  color #fff
  font-size 15pt
  font-weight bold
  margin-left 10px
  height 45pt

.menubar
  height 45pt
  margin-left 70pt
  position relative
  .SearchBar
    display inline-block
    color #777
    font-size 15pt
    margin 5pt 25pt
