@import '~s-grid/s-grid-settings'
@import '~s-grid/s-grid-functions'

@import '../../styles/settings'

.login-form
  padding-top rem-calc(100)
  padding-bottom rem-calc(100)
.paper
  padding rem-calc(30) rem-calc(30)
.help
  color #9E9E9E
  display inline-block
  font-size smaller
  font-weight bold
  margin rem-calc(10) rem-calc(15)
  padding rem-calc(15)
  vertical-align top
.input
  margin-bottom rem-calc(5)
  padding rem-calc(15) rem-calc(25)
  border rem-calc(1) solid lighten(color-main-dark, .5)
  font-size rem-calc(18)
  box-shadow 0 0 rem-calc(8) 0 rgba(color-main-dark, .1)
  outline none
input:-webkit-autofill
  -webkit-box-shadow 0 0 0px 1000px white inset;
